.container {
  position: relative;
  width: 50%;
}
.auth-image {
  box-shadow: 4.5px 4.5px;
}
.langLogos{
  background-color: lightgrey;
  margin: 20px;
  padding: 10px;

}
.image {
  display: block;
  width: 100%;
  height: auto;
  margin: 20px;
}
.fa-linkedin:before{
  margin: 3px;
}
.fa-file-alt,
.fa-gamepad,
.fa-envelope,
.fa-github-square {
  color: white;
  margin: 5px;
}
.contact{
  text-align: center;
  box-shadow: black 4.5px;
}

.carousel-inner{
margin-top: 30px;
padding: 15px;
}
.carouselContainer{
  width:750px !important;
  height: inherit;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  margin: 20px;
}

.pipecontainer :hover .overlay {
  opacity: 1;
}

.pirahnaplant {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar-text {
  align: center;
}

.navbar-light .navbar-nav .nav-link {
  font-size: smaller;
}

.jumbotron-fluid {
  margin-top: 20px;
}

.submit {
  margin-top: 10px;
  margin-bottom: 5px;
}

.card {
  margin-left: 20px;
}

.card-text {
  float: left;
}

.row {
  margin: 10px;
}

.jumbotron .bg-light .jumbotron-fluid {
  background-color: transparent;
}

.main-container{
  background-color: transparent;
}

.copyright {
  font-size: small;
  margin-bottom: -25px;
}

.face:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#logo {
  margin-left: 10px;
  padding-bottom: 10px;
}

/* #gameController {
  height: 40px; width: 640px; position: absolute; left: 50%; top: 50%;
	margin-left: -321px; margin-top: 290px; border: 1px solid;
} */
/*
.fa-arrow-circle-right{
 margin-right: 465px;
}
*/
.row, .controller {
  display: table;
}

.column {
  float: left;
  padding: 5px;
}

h3 {
  font-size: 60px !important;
  color: white !important;
  text-align: center;
  text-shadow: 4px 4px black;

}
* {
  margin: 0; padding: 0;
}

body {
  background: url("../images/clouds.gif") fixed;
  background-size: cover;
}

footer {
  font-size: 8px;
  color: rgb(59, 59, 59);
  text-align: center;
  margin-top: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.clearfix {
  display: block;
  clear: both;
  overflow: auto;
  margin-bottom: 120px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 .bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}
 @-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.mario {
  height: 60px;
  width: 40px;
  background: url("../images/mario-sprites.png") 0 0;
  -webkit-animation:
      animate-mario 3s 0s steps(27) infinite,
      move-mario ease-in 3s 0s infinite;
  -moz-animation:
      animate-mario 3s 0s steps(27) infinite,
      move-mario ease-in 3s 0s infinite;
  -ms-animation:
      animate-mario 3s 0s steps(27) infinite,
      move-mario ease-in 3s 0s infinite;
  -o-animation:
      animate-mario 3s 0s steps(27) infinite,
      move-mario ease-in 3s 0s infinite;
  animation:
      animate-mario 3s 0s steps(27) infinite,
      move-mario ease-in 3s 0s infinite;
  position: relative;
  left: 100px;
}

@-webkit-keyframes animate-mario {
  from { background-position: 0 0 }
  to   { background-position: -1080px 0 }
}

@-webkit-keyframes move-mario {
  0%   { left: 100px }
  20%  { left: 100px }
  50%  { left: 300px }
  100% { left: 300px }
}

@-moz-keyframes animate-mario {
  from { background-position: 0 0 }
  to   { background-position: -1080px 0 }
}

@-moz-keyframes move-mario {
  0%   { left: 100px }
  20%  { left: 100px }
  50%  { left: 300px }
  100% { left: 300px }
}

@-ms-keyframes animate-mario {
  from { background-position: 0 0 }
  to   { background-position: -1080px 0 }
}

@-ms-keyframes move-mario {
  0%   { left: 100px }
  20%  { left: 100px }
  50%  { left: 300px }
  100% { left: 300px }
}

@-o-keyframes animate-mario {
  from { background-position: 0 0 }
  to   { background-position: -1080px 0 }
}

@-o-keyframes move-mario {
  0%   { left: 100px }
  20%  { left: 100px }
  50%  { left: 300px }
  100% { left: 300px }
}

@keyframes animate-mario {
  from { background-position: 0 0 }
  to   { background-position: -1080px 0 }
}

@keyframes move-mario {
  0%   { left: 100px }
  20%  { left: 100px }
  50%  { left: 300px }
  100% { left: 300px }
}
@media screen and (max-width: 12450px) {

  #gameController #left #right #buttonA #buttonB {
  visibility: hidden;
  }
  .hideDiv {
    visibility: hidden;
    }
}
@media screen and (max-width: 980px) {

  #masthead {
    width: 95%;
    margin: 5px;
  }

  #main-container {
    width: 95%;
  }

  #gameController #left #right #buttonA #buttonB {
    visibility: hidden;

  }
.hideDiv {
  visibility: hidden;
  }

.pipecontainer {
    width: 30%;
    margin: 10px;
  }

  .auth-image {
    width: 240px;
    height: inherit;
  }
}


@media screen and (max-width: 768px) {

  #masthead {
    width: 95%;
    margin: 5px;
  }

  #main-container {
    width: 95%;
  }
  .navbar{
    width: 65.5%;
  }
  .pipecontainer {
    width: 60%;
    margin: 10px;
  }

  .main-section {
    width: 100%;
  }

  .auth-image {
    width: 200px;
  }

  #game {
    height: 320px !important;
    width: 478px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -378px !important;
    margin-top: -180px !important;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  #gameController #left #right #buttonA #buttonB {
    visibility: hidden;
  }
  .hideDiv {
    visibility: hidden;
  }

}

@media only screen and (max-width: 640px) {
  #logo {
    width: 25%;
    float: right;
  }

  .nav {
    width: 112%;
    text-align: center;
    height: 120px;
    z-index: 9999;
  }

  #masthead {
    width: 100%;
  }

  #main-container {
    width: 100%;
  }

  .image,
  .overlay {
    width: 33.33% !important;
  }

  .row {
    margin-left:-100px;
  }

  .auth-image {
    width: 70%;
    height: inherit;
    margin: 45px;
    align-self: center;
  }

  .fa-arrow-circle-right {
    margin-right: 292px;
  }

  #game {
    height: 385px;
    width: 460px;
    position: absolute;
    top: 65%;
    margin-left: -311px;
    margin-top: -267px;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  #gameController #left #right #buttonA #buttonB .hideDiv{
    visibility: visible;
  }

}

@media only screen and (max-width: 480px) {
  #logo {
    width: 25%;
    float: right;
    margin-right: 15px;
  }

  .navbar {
  height: 50px;
  width: 370px;
  z-index: 9999;

  }

  .navbar-toggler {
  font-size: .75rem !important;
  position: absolute;
  z-index: 9999;
  float: right;
  }

  .fa-arrow-circle-right {
    margin-right: 314px;
  }

  .auth-image {
    width: 75%;
    height: inherit;
    margin: 30px;
    align-self: center;
  }

  .footer{
  align-content: right;
  }

  .mario{
    display: none;
  }

  .connect{
    display: none;
  }

  .overlay,
  .pirahnaplant {
    visibility: visible;
    opacity: 1;
  }

  .carouselContainer{
    width:400px !important;
    height: inherit;
  }
  #game {
    height: 385px;
    width: 424px;
    position: absolute;
    top: 60%;
    margin-left: -230px;
    margin-top: -250px;
    border: 1px solid #ccc;
    overflow: hidden;
}

  #gameController {
    visibility: visible !important;
    height: 40px;
    width: 484px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -235px;
    margin-top: 190px;
    border: 1px solid;
  }
  #left #right #buttonA #buttonB .hideDiv {
    visibility: visible !important;
  }

}

@media only screen and (max-width: 360px) {
  .navbar{
    width: 114.5%;
  }
   #game {
    height: 385px;
    width: 424px;
    position: absolute;
    top: 60%;
    margin-left: -200px !important;
    margin-top: -200px !important;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  #gameController {
    height: 40px !important;
    width: 360px !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    margin-left: -150px !important;
    margin-top: 285px !important;
    border: 1px solid !important;
  }
  .fa-arrow-circle-right {
    margin-right: 190px !important;
  }
}
